.search-form {
  margin: 100px 500px;
  z-index: 500;
  /*display: grid;*/
  /*left: 4000px;*/
  position: relative;
  margin-top: 70px;
  font: normal 12px sans-serif;
  box-shadow: 1px 2px 4px 0 rgba(57,47,47,0.08);
}

.search-form div.input-group-addon {
  background: #4e2121;
  color: #000000;
  /*margin-top: 500px;*/
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid #000000;
  border-right: 0;
}

.search-form .input-group input {
  background-color: #000000;
  box-shadow: none;
  color: #000000;
  outline: none;
  /*border: 1px solid #000000;*/
  border-right: 0;
  border-left: 0;
}

.search-form div.input-group-btn button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #000000;
  border-color: #6caee0;
  outline: none;
  opacity: 0.9;
}

.search-form div.input-group-btn button:hover {
  opacity: 1;
}

.search-form div.input-group-btn button:focus:active {
  background-color: #6caee0;
  color: #000000;
  outline: none;
}

