{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fountain-Page-Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'buy/css/detail.min.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="{% url 'landing' %}">G R A T E</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Current Item</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'landing' %}">Home</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Menu</a>
                            <div class="dropdown-menu" role="menu"><a role="presentation" class="dropdown-item" href="{% url 'landing' %}">Home Page</a><a role="presentation" class="dropdown-item" href="#">Log Out</a><a role="presentation" class="dropdown-item" href="#">About</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-xl-0">
                    <p></p>
                    <p>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                    <p>&nbsp; &nbsp; &nbsp;&nbsp;</p><div class="progress">
    <div class="progress-bar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 83%;" background-color = "green"> You have until {{ buy.date_ends }}</div>
</div>
                    <p></p>
                    <p>&nbsp; &nbsp; &nbsp;</p><strong><br>{{ buy.description }}<br><br><br></strong>
                    <button
                        class="btn btn-primary" type="button">Contribute ${{ buy.price }}</button>
                        <p><br></p>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
                <div class="col">
                    <div class="carousel slide" data-ride="carousel" id="carousel-1">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><img class="w-100 d-block" src="{{ buy.image.url }}" alt="Slide Image"></div>
                        
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                                data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                    </div><a class="btn btn-primary" href="{{ buy.product_link }}" type="button">Buy Now!</a></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>